div[data-bb-type="row"] {margin-top: 30px}
#indicator {display: none; margin: 25% auto;}
.notFound {margin-top: 130px; text-align: center;}

#panel-picture {background: #eee url("../img/icons/icon_picture.png") no-repeat center; cursor: pointer; height: 300px; border: 2px solid #444;}